---
import Layout from "../layouts/Layout.astro";
const title = "Toadland";
const subtitle = "Оплата";
const description =
  "Приватный minecraft сервер 1.20.1 с модами и дружелюбной атмосферой! | Оплата";
const url = new URL(Astro.request.url);
const nickname = url.searchParams.get("nickname") || "";
---

<Layout title={title} {subtitle} description={description}>
  <div class="buy-wrapper">
    <h1 class="buy-wrapper-title">{title}</h1>
    <div class="buy-container">
      <h1>Оплата за доступ к серверу</h1>
      <p id="nickname-display"></p>
      <p>Нажмите кнопку ниже, чтобы оплатить доступ.</p>

      <form id="payment-form" action="/thanks" method="GET">
        <input type="hidden" id="hidden-nickname" name="nickname" />
        <iframe
          class="yoomoney-iframe"
          src="https://yoomoney.ru/quickpay/fundraise/button?billNumber=12351ISL51E.240413"
          width="330"
          height="50"
          frameborder="0"
          allowtransparency="true"
          scrolling="no"
        >
        </iframe>
      </form>
    </div>
  </div>
</Layout>
<script>
  // Получаем никнейм из LocalStorage
  const nickname = localStorage.getItem("nickname");
  document.getElementById("nickname-display").innerText =
    `Никнейм: ${nickname}`;

  // Приводим элемент к типу HTMLInputElement, чтобы использовать свойство value
  const hiddenNicknameInput = document.getElementById(
    "hidden-nickname"
  ) as HTMLInputElement;
  if (hiddenNicknameInput) {
    hiddenNicknameInput.value = nickname || ""; // Проверяем на null
  }

  // Отправка запроса на добавление в вайтлист
  async function addToWhitelist(nickname) {
    try {
      const response = await fetch("/api/whitelist", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ nickname }),
      });
      const result = await response.json();
      if (result.success) {
        console.log(`${nickname} добавлен в вайтлист!`);
      } else {
        console.error("Ошибка при добавлении в вайтлист:", result.error);
      }
    } catch (error) {
      console.error("Ошибка сети:", error);
    }
  }

  // Здесь необходимо добавить логику вызова addToWhitelist после успешной оплаты
  // Например, через слушатель события или редирект
  // addToWhitelist(nickname);
</script>
<style></style>
