---
import { parseStringPromise } from "xml2js";

const rssFeedUrl = "https://rsshub.app/telegram/channel/toadland";
let feed = [];

const response = await fetch(rssFeedUrl);
const text = await response.text();
const parsedFeed = await parseStringPromise(text);

feed = parsedFeed.rss.channel[0].item.map((item) => ({
  title: item.title[0],
  description: item.description[0].replace(/<\/?[^>]+(>|$)/g, ""), // Удаление HTML-тегов
  images:
    item.description[0]
      .match(/<img[^>]+src="([^">]+)"/g)
      ?.map((img) => img.match(/src="([^">]+)"/)[1]) || [],
  link: item.link[0],
  pubDate: new Date(item.pubDate[0]).toLocaleDateString(),
}));
---

<style>
  .rss-feed {
    text-align: left;
    max-width: 1440px;
    margin: 0 auto;
    font-family: gilroy-medium;
    padding: 20px;
    border-radius: 12px;
  }
  .rss-item {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .rss-item h3 {
    border-radius: 14px 14px 0 0;
    background-color: var(--color-green-400);
    margin: 0;
    padding: 10px;
    font-family: gilroy-bold;
    font-size: 1.5em;
    color: var(--color-white);
    cursor: pointer;
    transition: color 0.3s ease;
  }
  .rss-item h3:hover {
    color: var(--color-green-100);
  }
  .rss-item-content {
    border-radius: 0 0 14px 14px;
    padding: 10px;
    background-color: var(--color-white);
    display: none;
    transition: max-height 0.3s ease;
    box-shadow: 0px 12px 14px 0px rgba(0, 0, 0, 0.09);
  }
  .rss-item-content.show {
    display: block;
  }
  .rss-item p {
    color: var(--color-black);
    font-family: gilroy-medium;
    font-size: 1.2em;
    margin: 10px 0;
  }
  .rss-item a {
    text-decoration: none;
    color: #2980b9;
  }
  .rss-item a:hover {
    text-decoration: underline;
  }
  .img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
  }

  .img-grid img {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .img-grid img:hover {
    transform: scale(1.05);
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
  }

  .modal img {
    max-width: 90%;
    max-height: 90%;
  }

  .modal.show {
    display: flex;
  }
  @media (max-width: 600px) {
    .rss-feed {
      padding: 15px;
    }
    .rss-item h3 {
      font-size: 18px;
    }
  }
  @media (max-width: 768px) {
    .img-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 480px) {
    .img-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>

<div class="rss-feed">
  {
    feed.map((item, idx) => (
      <div class="rss-item">
        <h3>{item.title}</h3>
        <div class="rss-item-content" id={`content-${idx}`}>
          <div class="img-grid">
            {item.images.map((img, index) => (
              <img src={img} alt="RSS image" />
            ))}
          </div>
          <p>{item.description}</p>
          <p>
            <a href={item.link} target="_blank" rel="noopener">
              Смотреть в телеграм
            </a>
          </p>
          <p>Опубликовано: {item.pubDate}</p>
        </div>
      </div>
    ))
  }
</div>

<div id="imageModal" class="modal">
  <img id="modalImage" src="" alt="Preview" />
</div>
<script>
  function setupImagePreview() {
    const images = document.querySelectorAll(".img-grid img");
    const modal = document.getElementById("imageModal");
    const modalImage = document.getElementById("modalImage");

    images.forEach((image) => {
      image.addEventListener("click", () => {
        const imgElement = image as HTMLImageElement;
        if (imgElement) {
          modalImage.src = imgElement.src;
          modal.classList.add("show");
        }
      });
    });

    modal.addEventListener("click", () => {
      modal.classList.remove("show");
    });
  }

  document.addEventListener("astro:page-load", setupImagePreview);
</script>
<script>
  function setupToggle() {
    const items = document.querySelectorAll(".rss-item h3");
    items.forEach((item, index) => {
      item.addEventListener("click", () => {
        const content = document.getElementById(`content-${index}`);
        content.classList.toggle("show");
      });
    });
  }

  function setupImagePreview() {
    const images = document.querySelectorAll(".rss-item img");
    const modal = document.getElementById("imageModal");
    const modalImage = document.getElementById("modalImage");

    image.addEventListener("click", () => {
      const imgElement = image as HTMLImageElement;
      if (imgElement && imgElement.src) {
        const imgWindow = window.open(imgElement.src, "_blank");
        imgWindow?.focus();
      }
    });

    modal.addEventListener("click", () => {
      modal.classList.remove("show");
    });
  }

  document.addEventListener("astro:page-load", () => {
    setupToggle();
    setupImagePreview();
  });
</script>
