---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const pageTitle = title ? `Toadland  ${title}` : "Toadland";
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta property="og:description" content={description} />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <style is:global>
      @font-face {
        font-family: "Nunito";
        src: url("/fonts/Nunito-Regular.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      * {
        font-family: nunito;
      }
      :root {
        --color-bg: #f0f7da;
        --color-green-100: #e9f29c;
        --color-green-200: #a7d129;
        --color-green-300: #7fb069;
        --color-green-400: #4d6d46;
        --color-green-500: #364d2e;
      }
      body {
        margin: 0;
        padding: 0;
      }
      .main--wrapper {
        display: grid;
        grid-template-areas:
          "header"
          "content"
          "footer";
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;
      }
    </style>
    <div class="main--wrapper">
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>
