---
import Header from "../components/Header.astro";
import Meta from "../components/Meta.astro";
import Footer from "../components/Footer.astro";
import { fade } from "astro:transitions";
import { ViewTransitions } from "astro:transitions";

interface Props {
  subtitle?: string;
  title: string;
  description: string;
  icon?: string;
}

const { title, description, subtitle, icon }: Props = Astro.props;
---

<!doctype html>
<html lang="ru">
  <head>
    <Meta {title} {subtitle} description={description} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <meta
      property="og:image"
      content="https://tdld.vercel.app/assets/images/icone2.webp"
    />
    <meta
      property="og:image:secure_url"
      content="https://tdld.vercel.app/assets/images/icon2.webp"
    />
    <meta property="og:image:type" content="image/webp" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="logoImage" />
    <meta
      name="keywords"
      content="Тодленд, toadland, тод ленд, тоад ленд, toad land, тоад land, Тод land, майнкрафт сервер, приватный сервер minecraft, mineacraft toadland, minecraft, майнкрафт, сервер майнкрафт, сервер с жабами, майнкрафт с жабами"
    />
    <ViewTransitions />
  </head>
  <body>
    <style is:global>
      @font-face {
        font-family: "Gilroy";
        src: url("/fonts/Gilroy-Regular.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Gilroy-black";
        src: url("/fonts/Gilroy-Black.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Gilroy-bold";
        src: url("/fonts/Gilroy-Bold.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Gilroy-medium";
        src: url("/fonts/Gilroy-Medium.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      * {
        font-family: Gilroy;
      }
      :root {
        --color-black: #1d1e18;
        --color-bg: #fefffd;
        --color-note-text: #3b3b3b;
        --color-green-500: #2d7331;
        --color-green-400: #328036;
        --color-green-300: #388e3c;
        --color-green-200: #4caf50;
        --color-green-100: #a5d6a7;
        --color-accent: #ffb300;
        --color-accent-hover: #ff9900;
        --color-gray-100: #bdbdbd;
        --color-white: #f5f5f5;
      }
      body {
        margin: 0 auto;
        padding: 0;
        background-color: var(--color-bg);
      }
      .main--wrapper {
        display: grid;
        grid-template-areas:
          "header"
          "content"
          "footer";
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;
      }
      .slide-enter {
        transform: translateX(100%);
        opacity: 0;
      }

      .slide-enter-active {
        transform: translateX(0);
        opacity: 1;
        transition:
          transform 300ms ease-in-out,
          opacity 300ms ease-in-out;
      }

      .slide-exit {
        transform: translateX(0);
        opacity: 1;
      }

      .slide-exit-active {
        transform: translateX(-100%);
        opacity: 0;
        transition:
          transform 300ms ease-in-out,
          opacity 300ms ease-in-out;
      }
      .page-icon {
        margin-left: 10px;
        width: 28px;
        height: 28px;
        @media (max-width: 540px) {
          display: none;
        }
      }
    </style>
    <div transition:animate={fade({ duration: "0.5s" })} class="main--wrapper">
      <Header {title} {subtitle} icon={icon} />
      <slot />
      <Footer />
    </div>
  </body>
</html>
